header {
  margin: 0 auto;
  margin-bottom: 50px;
}

header img {
  height: 100px;
}

header p {
  margin-top: 10px;
  margin-left: 15px;
}

header button.btn {
  padding: 0px;
  margin: 0px;
}

.container {
  display: none;
  margin: 0 auto;
}

/**
 * Login container.
 */
body.login #login-container {
  display: block;
}

#login-container button {
  margin-top: 10px;
  margin-bottom: 10px;
}

#login-container .text-danger, 
#login-container .text-info, 
#login-container .status {
  text-align: center;
}

#login-container .processing {
  display: none;
}

/**
 * Levels container.
 */
 body.levels #levels-container {
  display: block;
 }

#levels-container .levels {
  text-align: center;
  margin-bottom: 10px;
}

#levels-container .levels select {
  height: 200px;
  width: 300px;
}

#levels-container .actions {
  text-align: center;
}

/**
 * Word container.
 */
 body.item #item-container {
  display: block;
 }

#item-container .wrapper, #paper, #canvas {
  width: 570px;
  height: 109px;
  margin-bottom: 10px;
}

#item-container .wrapper {
  border: 1px solid;
  position: relative;
}

#item-container .overlay {
  position: absolute;
  text-align: center;
  width: 570px;
  top: 48px;
  opacity: 0.5;
}

#item-container .meaning {
  height: 30px;
}

#item-container .item, #item-container .meaning, #item-container .actions {
  text-align: center;
 }

#item-container .underline {
  text-decoration: underline;
}